*{
    margin: 0;
    padding: 0;
}


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* header section */

header{
    background-image: url(/Assets/Hero-bg.png);
    width: 100%;
    height: 698px;
    display: flex;
    flex-direction: column;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    height: 151px;
    /* background: red; */
    margin: 0 auto;
}
nav h3{
    color: rgb(78, 71, 255);
    font-size: 34px;
    font-weight: 900;
}
.btn{
    padding: 12px 36px;
    background-color: rgb(78, 71, 255);
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    border: none;
}
.banner{
    text-align: center;
    /* background-color: green; */
    width: 905px;
    height: 237px;
    margin: 158px auto;
}
.banner h1{
    font-size: 65px;
    font-weight: 700;
    color: rgb(37, 36, 50);
     font-family: "Raleway", sans-serif;
}
.banner .btn{
    margin-top: 37px;
     font-family: "Raleway", sans-serif;
}